* {
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-underline {
    text-decoration: underline;
}

.text-dotted {
    text-decoration: dotted;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.mrgn-top {
    margin-top: auto;
}

.mrgn-bot {
    margin-bottom: auto;
}

.mrgn-left {
    margin-left: auto;
}

.mrgn-right {
    margin-right: auto;
}

.pdn-left {
    padding-left: 0;
}

.pdn-top {
    padding-top: 0;
}

.pdn-bot {
    padding-bottom: 0;
}

.pdn-right {
    padding-right: 0;
}

.display-inline {
    display: inline;
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.p-static {
    position: static;

}

.p-relative {
    position: relative;
}

.p-fixed {
    position: fixed;
}

.p-absolute {
    position: absolute;
}

.ofw-hidden {
    overflow: hidden;
}

.ofw-auto {
    overflow: auto;
}

.ofw-scroll {
    overflow: scroll;
}

.ofw-visible {
    overflow: visible;
}

.card-shadow {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.pre-btn {
    background-color: #4cafaa;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.pre-btn:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.brd {
    border: 1px solid;
}

.brd-dotted {
    border-style: dotted;
}

.ul-circle {
    list-style: circle;
}

.ul-square {
    list-style: square;
}

.sticky-nav {
    position: sticky;
    top: 0;
}

.ul-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(2, 80, 25);
    display: flex;
    flex-wrap: wrap;


}

.ul-nav input[type=text] {
    flex-direction: row-reverse;
    padding: 5px;
    margin: 11px 16px;
    border: none;
    font-size: 16px;
}

.ul-blue {
    background-color: #3399ff;
    padding: 5px;
    list-style-position: inside;
}

.ul-green {
    background-color: #33ff81;
    padding: 5px;
    list-style-position: inside;
}


.li-a-nav {
    display: block;
    color: white;
    text-align: center;
    padding: 13px 15px;
    text-decoration: none;
}

.li-a-nav:hover {
    background-color: rgb(1, 29, 6);
}

.li-blue {
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
}

.li-green {
    background: #cce5ff;
    color: rgb(0, 139, 58);
    margin: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-left {
    justify-content: left;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-safe {
    justify-content: safe;
}

.justify-content-baseline {
    justify-content: baseline;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-right {
    justify-content: right;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-start {
    justify-content: start;
}

.justify-item-center {
    justify-items: center;
}

.justify-item-flex-end {
    justify-items: flex-end;
}

.justify-item-flex-start {
    justify-items: flex-start;
}

.justify-item-left {
    justify-items: left;
}

.justify-item-right {
    justify-items: right;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-blue {
    background-color: blue;
}

.col-1 {
    width: 8.33333333%
}

.col-2 {
    width: 16.666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333333%;
}

.col-5 {
    width: 41.666666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333%;
}

.col-8 {
    width: 66.666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333333%;
}

.col-11 {
    width: 91.666666%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width:480px) {
    .text-xs-center {
        text-align: center;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .brd-xs {
        border: 1px solid red;
    }

    .col-xs-1 {
        width: 8.33333333%
    }

    .col-xs-2 {
        width: 16.666666%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-4 {
        width: 33.333333%;
    }

    .col-xs-5 {
        width: 41.666666%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-7 {
        width: 58.333333%;
    }

    .col-xs-8 {
        width: 66.666666%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-10 {
        width: 83.333333%;
    }

    .col-xs-11 {
        width: 91.666666%;
    }

    .col-xs-12 {
        width: 100%;
    }
}

@media only screen and (min-width:481px) and (max-width:768px) {
    .text-sm-center {
        text-align: center;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .brd-sm {
        border: 1px solid purple;
    }

    .col-sm-1 {
        width: 8.33333333%
    }

    .col-sm-2 {
        width: 16.666666%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.333333%;
    }

    .col-sm-5 {
        width: 41.666666%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.333333%;
    }

    .col-sm-8 {
        width: 66.666666%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.333333%;
    }

    .col-sm-11 {
        width: 91.666666%;
    }

    .col-sm-12 {
        width: 100%;
    }
}

@media only screen and (min-width:769px) and (max-width:1200px) {
    .text-md-center {
        text-align: center;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    .brd-md {
        border: 1px solid royalblue;
    }

    .col-md-1 {
        width: 8.33333333%
    }

    .col-md-2 {
        width: 16.666666%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.333333%;
    }

    .col-md-5 {
        width: 41.666666%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.333333%;
    }

    .col-md-8 {
        width: 66.666666%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.333333%;
    }

    .col-md-11 {
        width: 91.666666%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media only screen and (min-width:1201px) {
    .text-lg-center {
        text-align: center;
    }
}